.comment{
    margin: .5em;
    margin-bottom: 0em;
    padding: 1em;
    border: .25em solid rgb(152, 159, 160);
    border-radius: .25em;
    background-color: rgb(215, 223, 230);
    display: grid;
    grid-template-columns: 6em 6em auto;
    grid-template-areas:
        "user user user"
        "date date date"
        "body body body"
        "edited edited edited"
        "edit delete errors";
}
.comment-user{
    grid-area: user;
    width: fit-content;
    font-weight: bold;
    margin-bottom: .25em;
}
.comment-date{
    grid-area: date;
    font-size: .85em;
    color: rgb(80, 85, 87);
}
.comment-body{
    grid-area: body;
    font-size: 1.125em;
    margin: 1em;
}
.last-edited{
    grid-area: edited;
    font-size: .75em;
    color: rgb(70, 75, 77);
    font-style: italic;
}
.edit-comment-button{
    grid-area: edit;
    margin: 0em;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    
} 
.delete-comment-button{
    grid-area: delete;
    margin: 0em;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
}
.delete-warning{
    font-weight: bold;
    margin: .24em;
    grid-area: user;
    text-align: center;
    font-style: italic;
}
.real-delete{
    grid-area: edit;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    background-color: rgb(124, 201, 105);
}

.cancel-delete{
    grid-area: delete;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    background-color: rgb(253, 116, 116);
}
.edit-comment-textarea{
    grid-area: body;
    font-size: 1.125em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em;
    margin-bottom: .5em;
    height: fit-content;
    resize: vertical;
}
.commit-edit{
    grid-area: edit;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    background-color: rgb(124, 201, 105);
}
.cancel-edit{
    grid-area: delete;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
    font-size: 1em;
    background-color: rgb(253, 116, 116);
}
.error-display{
    grid-area: errors;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
    font-weight: bold;
    margin: 0em;
}