.comment-form {
    margin: .5em;
    margin-top: 0em;
    padding: 1em;
    border-radius: .25em;
    background-color: rgb(230, 233, 236);
    display: flex;
    flex-direction: column;
}
.comment-form-header{
    grid-area: comment-header;
    margin-bottom: .5em;
}
.comment-draft-body {
    grid-area: comment-draft-body;
    height: 6em;
    width:calc(100% - 4em);
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.125em;
    margin-left: 2em;
    border: .15em solid rgb(152, 159, 160);
    border-radius: .25em;
    resize: vertical;
}
.comment-controls {
    margin-top: .5em;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}
.comment-form-button {
    margin-top: .5em;
    gap: 1em;
    margin: 0em;
    width: 5em;
    border: .15em double rgb(120, 126, 128);
    border-radius: .25em;
    cursor: pointer;
}
.comment-error-message {
    color: red;
    font-size: 0.9em;
    font-size: 1em;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    text-align: center;
}